Package: com.squ1dd13.transparency
Name: Transparency
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Make many system elements transparent
Maintainer: Squ1dd13
Author: Squ1dd13
Section: Tweaks
